html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  font-family: Helvetica;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  height: 13%;
  background: #ffc3c3;
}
.header-block {
  
}

.menu-item a, .footer-menu-item a{
  text-decoration: none;
  color: black;
}

.btn-helloWorld{
  padding: 5px 10px;
  margin: 5px;
  background: silver;
  border: none;
  box-shadow: 2px 2px 5px black;
}
.btn-helloWorld:hover{
  box-shadow: inset 0 0 5px black;
}

.main {
  height: 73%;
  background: #c3ffd6;
}
.main-block {
  
}

.calculate-sum__result{
  
}

.footer {
  height: 13%;
  background: #c3d1ff;
}
.footer-block {
  
}
