*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todos{
    border: 1px solid silver;
    width: 300px;
    padding: 10px;
}

.todo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    border: 1px solid silver;
    margin: 5px;
    padding: 5px;
}
.todo__content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.todo__content *{
    margin-right: 5px;
}

.users{
    position: absolute;
    left: 35%;
    top: 10%;
    border: 1px solid grey;
}

.history{
    position: absolute;
    right: 32%;
    top: 10%;
    border: 1px solid grey;
}
.todo__number{}
.todo__title{}
.btn-delete{}