/* Стилізація тудушки */
.todo-item {
  background-color: lightblue;
  padding: 10px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Styling the delete button */
.delete-button {
  background-color: tomato;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 400px;
    margin: 0 auto;
    padding: 5px ;
    
    border: 1px solid silver;

}

.todos{
    border: 1px solid silver;
    width: 300px;
    padding: 10px;
}

.todo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    border: 1px solid silver;
    margin: 5px;
    padding: 5px;
}
.todo__content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.todo__content *{
    margin-right: 5px;
}
.todo__number{}
.todo__title{}
.btn-delete{}